.upload-audio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .upload-audio-container.loading:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.7);
  }
  
  .upload-audio-container.loading .loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
  }

  .upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .my-textarea {
    width: 100%;
    height: 200px;
  }
  
  label {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  input[type="file"] {
    margin-bottom: 10px;
  }
  
  button {
    background-color: #43425d;
    color: white;
    font-size: 1.2rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  button:hover {
    background-color: #605f7e;
  }
  
  .response-container {
    width: 80%;
    /* max-width: 600px; */
  }

  .grammer-response-container {
    width: 80%;
    /* max-width: 600px; */
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: sans-serif;
    font-size: 1.2rem;
    resize: vertical;
  }

  .grammer_btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
  }
  